body{
margin:0;
font-family:Segoe UI;
background:#0f172a;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#020617;
}

.btn{
background:#06b6d4;
padding:10px 18px;
border-radius:8px;
color:white;
text-decoration:none;
margin:5px;
display:inline-block;
}

.projects{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.card{
background:#1e293b;
padding:20px;
margin:20px;
border-radius:14px;
width:300px;
text-align:center;
}

model-viewer{
width:100%;
height:220px;
}

.form-box{
width:350px;
margin:60px auto;
background:#1e293b;
padding:30px;
border-radius:12px;
}

input,select,button{
width:100%;
padding:10px;
margin:10px 0;
border:none;
border-radius:8px;
}